* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 1000px;
  background-color: #242b33;
}
/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Anton', sans-serif; */


.visible-el {
  opacity: 1;
  transition: 2s ease;
}

.hidden-el {
  opacity: 0;
  transition: 2s ease;
}
